In [1]:
import pandas as pd

# Load your datasets
gwas_df = pd.read_csv(r"C:\Users\gargi\Desktop\Publication\Transcriptomic_and_Epigenomic_Features\genome_wide_significant_snps.csv")

gwas_df.head(5)

          SNP  CHROMOSOME   POSITION
0   rs6771792           3   12276472
1  rs11709077           3   12311507
2   rs1801282           3   12368125
3   rs1899951           3   12369840
4   rs4376068           3  186980329

In [2]:
# Summary
print(gwas_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SNP         236 non-null    object
 1   CHROMOSOME  236 non-null    int64
 2   POSITION    236 non-null    int64
dtypes: int64(2), object(1)
memory usage: 5.7+ KB
None

In [3]:
diagram_df = pd.read_csv(r"C:\Users\gargi\Desktop\Publication\Transcriptomic_and_Epigenomic_Features\DIAGRAMv3.2012DEC17.csv")

diagram_df.head(5)

,SNP,CHROMOSOME,POSITION,RISK_ALLELE,OTHER_ALLELE,P_VALUE,OR,OR_95L,OR_95U,N_CASES,N_CONTROLS
0,rs12565286,1,711153,G,C,0.16,1.11,0.96,1.30,4040,17875
1,rs3094315,1,742429,A,G,0.82,1.01,0.95,1.07,6673,25149
2,rs2905035,1,765522,G,A,0.36,1.04,0.96,1.11,4984,23960
3,rs2980319,1,766985,T,A,0.39,1.03,0.97,1.09,7575,27012
4,rs4040617,1,769185,A,G,0.50,1.03,0.95,1.11,4984,23960

In [4]:
# Summary
print(diagram_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2473441 entries, 0 to 2473440
Data columns (total 11 columns):
 #   Column        Dtype
---  ------        -----
 0   SNP           object
 1   CHROMOSOME    int64
 2   POSITION      int64
 3   RISK_ALLELE   object
 4   OTHER_ALLELE  object
 5   P_VALUE       float64
 6   OR            float64
 7   OR_95L        float64
 8   OR_95U        float64
 9   N_CASES       int64
 10  N_CONTROLS    int64
dtypes: float64(4), int64(4), object(3)
memory usage: 207.6+ MB
None

In [5]:
annotation_df = pd.read_csv(r"C:\Users\gargi\Desktop\Publication\Transcriptomic_and_Epigenomic_Features\bwMtrPidtktV3hgO.csv")  

annotation_df.head()

,SNP,CHROMOSOME,POSITION,RISK_ALLELE,OTHER_ALLELE,P_VALUE,OR,OR_95L,OR_95U,N_CASES,N_CONTROLS
0,rs12565286,1,711153,G,C,0.16,1.11,0.96,1.30,4040,17875
1,rs3094315,1,742429,A,G,0.82,1.01,0.95,1.07,6673,25149
2,rs2905035,1,765522,G,A,0.36,1.04,0.96,1.11,4984,23960
3,rs2980319,1,766985,T,A,0.39,1.03,0.97,1.09,7575,27012
4,rs4040617,1,769185,A,G,0.50,1.03,0.95,1.11,4984,23960

In [6]:
# Summary
print(annotation_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2473441 entries, 0 to 2473440
Data columns (total 11 columns):
 #   Column        Dtype
---  ------        -----
 0   SNP           object
 1   CHROMOSOME    int64
 2   POSITION      int64
 3   RISK_ALLELE   object
 4   OTHER_ALLELE  object
 5   P_VALUE       float64
 6   OR            float64
 7   OR_95L        float64
 8   OR_95U        float64
 9   N_CASES       int64
 10  N_CONTROLS    int64
dtypes: float64(4), int64(4), object(3)
memory usage: 207.6+ MB
None

In [ ]:
# Standardize rsID column names
gwas_df.rename(columns={"rsID": "Uploaded_variation"}, inplace=True)
diagram_df.rename(columns={"SNP": "Uploaded_variation"}, inplace=True)

In [ ]:
diagram_df.rename(columns={"SNP": "Uploaded_variation"}, inplace=True)

In [ ]:
# Merge GWAS and DIAGRAM
merged_1 = pd.merge(gwas_df, diagram_df, on="Uploaded_variation", how="inner")

In [ ]:
# Merge with functional annotations
merged_final = pd.merge(merged_1, annotation_df, on="Uploaded_variation", how="inner")

In [ ]:
# Drop duplicates
merged_final.drop_duplicates(inplace=True)

In [ ]:
# Filter for genome-wide significance
if 'P' in merged_final.columns:
    merged_final = merged_final[merged_final['P'] < 5e-8]

In [ ]:
# Save cleaned and merged data
merged_final.to_csv("cleaned_merged_gwas_functional.csv", index=False)

# Preview result
print(merged_final.shape)
print(merged_final[['Uploaded_variation', 'SYMBOL', 'Consequence', 'P']].head())